<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Bhanu" connectionString="DRIVER={MySQL ODBC 3.51 Driver};SERVER=localhost;DATABASE=project03;UID=root;PASSWORD=12345;Charset=utf8;" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>